*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #1b1b1b;
    display: grid;
    place-content: center;
    perspective: 1500px;
}

.screen{
    width: 40vw;
    height: 40vh;
    position: absolute;
    background-color: white;
    border-radius: 40px;
    left: 50%;
    top: 10%;
    translate: -50%;
}

#ratMesh{
    height: 80px;
    margin-right: 8px;
   }
   
   #ratBox{
       width: 50px;
       height: 16px;
       display: flex;
       justify-content: center;
       align-items: end;
       background-color: #0000001b;
       box-shadow: 0 5px 10px 5px #0000001b;
       border: 1px solid #00000000;
   }

#controller{
    width: 600px;
    height: 250px;
    margin-top: 40vh;
    border-radius: 20px;
    background-image: url('./imgs/controller.png');
    background-size: cover;
    background-position: center;
}

    .buttons{
        display: flex;
        justify-content: center;
        gap: 230px;
        align-items: center;
        margin-top: 32px;
    }

    .button{
        border: 1px solid #00000000;
    }

    #y{
        width: 70px;
        height: 40px;
    }

    #u, #d{
        width: 50px;
        height: 45px;
    }

    #u{
        margin-left: 8px;
    }

    .pressed{
        box-shadow: none;
        transform: translateY(4px);
    }

    .arrows{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

.screen{
    display: grid;
    place-content: center;
    font-family: sans-serif;
}