*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'dogicapixel';
    src: url('./imgs/dogicapixel.ttf');
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #1b1b1b;
    display: grid;
    place-content: center;
    perspective: 1500px;
    font-family: 'dogicapixel';
    overflow: hidden;
}


.screen{
    width: 40vw;
    height: 40vh;
    position: absolute;
    border-radius: 50px;
    background: #4EA5AA;
    color: #57F5FF;
    box-shadow: 0px 1px 30px 14px rgba(87, 245, 255, 0.30);
    left: 50%;
    top: 10%;
    translate: -50%;
    
}

#ratMesh{
    height: 80px;
    margin-right: 8px;
   }
   
   #ratBox{
       width: 50px;
       height: 16px;
       display: flex;
       justify-content: center;
       align-items: end;
       background-color: #0000001b;
       box-shadow: 0 5px 10px 5px #0000001b;
       margin-top: 200px;
       z-index: 100;
   }

#controller{
    width: 600px;
    height: 250px;
    border-radius: 20px;
    background-image: url('./imgs/controller.png');
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
}

    .buttons{
        display: flex;
        justify-content: center;
        gap: 230px;
        align-items: center;
        margin-top: 32px;
    }

    .button{
        border: 1px solid #00000000;
        display: block;
    }

    .disable{
        display: none;
    }

    #y{
        width: 70px;
        height: 40px;
    }

    #u, #d{
        width: 50px;
        height: 45px;
    }

    #u{
        margin-left: 8px;
    }

    .pressed{
        box-shadow: none;
        transform: translateY(4px);
    }

    .arrows{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

.screen{
    display: grid;
    place-content: center;
}

h2{
    color: white;
    font-size: 15px;
}

#score{
    position: absolute;
    top: 20px;
    right: 40px;
}

@media(max-width: 500px){
    .screen{
        width: 80vw;
        height: 20vh;
        border-radius: 30px;
    }

    .screen h1{
        font-size: 18px;
    }

    #score{
        font-size: 12px;
    }
}